.Container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 55% 45%;
}
header{
    grid-column : 1/2;
    grid-row: 1/2;
    display: flex;
    padding: 1rem 2rem;
    border: 1px solid red;
    background: #FFFFFF
}

main{
    grid-column : 1/2;
    grid-row: 2/3;
}


.bg-img-section{
    border: 1px solid red;
    grid-column : 2/3;
    grid-row: 1/-1;

    /* background-image: url('../../assets/bgImage.png');
    background-repeat: no-repeat;
    background-size: 100%; */
}

.backgroundImg{
    width: 100%;
    height: 100%
}

button{
    width: 40px;
}



