.deleteComponent{
    width: 100%;
    max-width: 600px;
    display: flex;
    margin: 2rem auto;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    background-color: #fff;
}

.delete-wrapper{
    width: 70%;
    margin: 4rem auto 2rem;
    text-align: center;
    display: grid;
    gap: 1.5rem;
}



.deleteComponent h5{
    font-size: 20px;
    font-weight: 700;
}
.deleteComponent p{
    font-size: 16px;
    line-height: 18.75px;
    font-weight: 400;
}
.warning{
    background-color: #F2C8BD;
    border-left: 8px solid #E07A5F;
    border-radius: 8px;
    padding: 10px 10px 20px;
}
.warning h5{
    color: #E07A5F;
    margin-bottom: .5rem;
}
button{
    width: 70%;
    height: 61px;
    border-radius: 16px;
    margin: 10px auto;
    border: 2px solid #81B29A;
}
.del{
    background-color: #81B29A;
    color: #fff;
}
.cancel{
    background-color: #fff;
    color: #81B29A;
}

.confirm-delete h5{
    margin-bottom: 1.5rem;
}